* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    background-color: #252525;
}

/* HEADER ------------------------------- */

header {
    background-color: #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url(images/Star-PNG-Pic.png);
}

header h1 {
    font-size: 60px;
    color: #ffe81a;
}

header h2 {
    color: #aaa;
}

/* NAVIGATION ------------------------------- */
nav {
    background-color: #696969;
    border-top: 3px solid #baa771;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

nav ul {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #fff;
    transition: 0.2s;
    font-weight: 600;
}

nav ul li a:hover {
    background-color: #252525;
}

/* SITE LAYOUT ------------------------------- */

#inventory-heading {
    width: 95%;
    margin: 5px auto;
    color: #fff;
    text-align: center;
}

#starship-listings-container, #sidebar, #sort-bar, footer {
    background-color: #f7f7f7;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    main {
        display: grid;
        grid-gap: 10px;
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 901px) {
    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        width: 95%;
        margin: 0 auto;
    }
}

#to-top {
    text-align: center;
}

#to-top a {
    color: #fff;
    text-decoration: none;
}

#to-top a:hover {
    text-decoration: underline;
}

footer {
    background-color: #696969;
    margin-top: 10px;
    text-align: center;
}

/* TOP PICKS ------------------------------- */

#top-picks {
    width: 95%;
    margin: 15px auto 25px auto;
    background-color: #313131;
    padding: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 2px;
}

#top-picks h1 {
    color: #fff;
    text-align: center;
}

#top-picks-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#top-picks-container figure {
    margin: 20px 0;
    width: 300px;
    border-radius: 5px;
}

#top-picks-container figure h1 {
    font-size: 20px;
    text-align: center;
    background-color: #baa771;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    color: #000;
}

#top-picks-container figure img {
    width: 100%; 
    height: 170px;
}

#top-picks-container figure figcaption {
    padding: 10px;
    font-weight: 400;
    background-color: #eeeeee;
    border-radius: 0 0 5px 5px;
}

#top-picks-container figure figcaption h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#top-picks-container figure figcaption p {
    font-size: 13px;
    margin: 4px 0;
}


/* SORT BAR ------------------------------- */

#sort-bar {
    background-color: #696969;
    width: 95%;
    margin: 10px auto 0px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

#sort-bar h1 {
    font-size: 25px;
    margin-right: 20px;
}

#sort-bar form label input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f1f1f1;
    height: 20px;
    width: 20px;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 4px;
    display: inline-block;
}

#sort-bar form label input:checked {
    background-color: #ffe81a;
}

#sort-bar form label {
    cursor: pointer;
    margin-right: 10px;
}

/* SIDEBAR/FILTER ------------------------------- */

#sidebar #no-filter {
    margin-left: 10px;
}

#sidebar #filters-container div {
    background-color: #e6e6e6;
    padding: 10px;
    margin: 10px 0;
}

#sidebar h2 {
    font-variant: small-caps;
    /* margin: 10px 0; */
}

#sidebar a {
    text-decoration: none;
}

#sidebar a button {
    font-weight: 600;
    background-color: #fff;
    padding: 10px;
    margin: 5px 10px 5px 0;
    text-align: left;
    border: 1px solid #aaa;

}

#sidebar a button:hover {
    cursor: pointer;
    background-color: #ffe81a;
    color: #000;
}

#sidebar a button:focus {
    outline: none;
}

#sidebar .active {
    background-color: #4d4d4d;
    color: #fff;
}


/* STARSHIP LISTINGS ------------------------------- */

#starship-listings-container img {
    width: 400px;
    height: 225px;
}

#starship-listings-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.starship-listing {
    position: relative;
    margin: 10px;
    width: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #dadada;
    height: 310px;
}

.usercreated {
    background-color: #1d6696;
}

.card-face {
    transition: 0.5s;
}

.front {
    opacity: 1;
}

.front figcaption {
    padding: 10px;
}

.front figcaption h1 {
    font-size: 25px;
    font-variant-caps: all-small-caps;
}

.front figcaption h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    color: #baa771;
}

.front figcaption img {
    width: 10px;
    height: 15px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
    background-color: #baa771; 
    height: 100%;
    display: flex;
    flex-flow: column;
}

.back ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    margin: 2px 0;
    font-size: 13px;
}

.add-to-cart-button {
    margin: 2px auto 0;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.add-to-cart-button:hover {
    cursor: pointer;
}

.add-to-cart-button:focus {
    outline: none;
}

.starship-listing:hover {
    cursor: default;
}

.starship-listing:hover .back {
    opacity: 0.9;
}

.starship-listing:hover .front {
    opacity: 0.5;
}

/* SELL YOUR STARSHIPS ------------------------------- */

#sell-starships {
    width: 50%;
    margin: 10 auto;
    background-color: #313131;
    
    padding: 20px;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#sell-starships form {
    width: 100%;
}

#sell-starships .user-info {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

#sell-starships .user-info:focus {
    outline: none;
}

#sell-starships form label {
    display: block;
    margin: 8px 0;
    width: 100%;
}

#sell-starships form label span {
    display: block;
    font-weight: 600;
    color: #baa771;
}

#sell-starships #submit {
    padding: 10px;
    background-color: #baa771;
    border: none;
    box-shadow: 0 0 10px #000;
    border-radius: 4px;
    width: 50%;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;
    transition: 0.2s;
}

#sell-starships #submit:focus {
    outline: none;
}

#sell-starships #submit:hover {
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #7c704d;
    color: #fff;
}

/* CREDITS (money) ------------------------------- */

#credits {
    position: fixed;
    bottom: 0;
    background-color: #baa771;
    padding: 5px;
    border-radius: 3px;
}
